{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% if app.user != null %}
Vous êtes connecté avec l'adresse mail : {{ app.user.email }} <br/>
<a href="{{ path('app_logout') }}">Se déconnecter !</a><br/>
{% else %}
Vous n'êtes pas connecté <br/>
<a href="{{ path('app_login') }}">Connecter vous !</a><br/>
<a href="{{ path('app_register') }}">Inscrivez vous !</a><br/>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('admin') }}">Accéder au Backoffice</a><br/>
{% elseif app.user != null %}
Vueillez nous contacter pour accéder au Backoffice<br/>
{% endif %}

<a href="{{ path('app_liste_sports') }}">Liste des sports</a>

{% endblock %}
